body {
    padding:0;
    margin:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2{
    color:#4aaaa5;
    font-size:28px;
}

.name {
    float:left;
    background: #4aaaa5;
    color: white;
    font-size: 26px;
    padding:10px;
}

.header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
    width:100%;
    border-bottom-color: #cccccc;
    border-bottom-width:2px;
    overflow: auto;

}

.headercontent { 
   
    background:white;
    height: 50px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

}
.links {
    float: right;
    list-style-type: none;
    margin: 5px,0px;
    padding: 0;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:13px;
    display: inline-block;
    /* height: 46px; */
}

a {
    
    color: #000;
    text-align: center;
    text-decoration: none;
}

a.active {
    background-color: #4aaaa5;
    color: #fff;
}

a:hover:not(.active) {
    background-color: #4aaaa5;
    color: #fff;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.content {
    margin-top: 20px;
    background: #fff;
    padding:20px;
    max-width:920px;
    height: 100%;
    overflow: auto;
    /*SOLVED: need to get height to match content in the box. min-height is unacceptable */
    margin-left: auto;
    margin-right: auto;
    border-color: #3f3e3e;
    border-width: 2px;
}
.pagebottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    height:30px;
    color:white;
    font-size: 8px;
    text-align: center;
    border: #4aaaa5;
    border-width: 15px;
}
